body{
    background-color:rgb(187, 5, 51) ;
}
.hero_header{
    font-family: 'Lobster Two', cursive;
    background-color: rgba(218, 197, 10, 0.562)
}
.hero_menu{
    background-color: rgb(110, 90, 90);
    justify-content: right;
    font-size: 1.4rem;
    gap: 1rem;
    letter-spacing: 5px;
    display: flex;
    padding: 20px;
    flex-direction: row;
}
.grid-father{
    display: grid;
    background-color: rgb(110, 62, 62);
    grid-template-columns: 65% 35%;
}
.grid_son{
    background-color: rgba(218, 197, 10, 0.562);
    text-align: center;
    color: rgb(61, 53, 53);
    border: 5px solid rgb(66, 64, 64);
    justify-content: auto;
}
.grid_son2{
    background-color: rgb(179, 37, 37);
    background-size: cover;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(51, 41, 41);
    justify-content: auto;

}
.footer-content{
    background-color: rgba(218, 197, 10, 0.562); 
    font-family: 'Lobster Two', cursive;
    font-size: 1.4rem;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.hero_content{
    font-family: 'Figtree', sans-serif;
    background-size: cover;
    background-position: center;
}
.imagenPrincipal{
    background-image: url("../img/picbanda.jpg");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
}
.socials{
    background-color: #6e5a5a;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
    letter-spacing: 5px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    margin-bottom: 0;
}
.nav-link{
    transform: 1s;
}
.nav-link:hover{
    transform: scale(1.1);
}
.nav-link1{
    transform: 1s;
    background-color: #8ba711;
}
.nav-link2{
    transform: 1s;
    background-color: #8ca810;
}
.nav-link3{
    transform: 1s;
    background-color: #a0c011;
}
.nav-link4{
    transform: 1s;
    background-color: #a2c214;
}

@media screen and (max-width: 480px) {
    .hero_menu{
        flex-direction: column;
    }
}