body{
    background-color:rgb(187, 5, 51) ;
}
.hero_header{
    font-family: 'Lobster Two', cursive;
    height: 20vh;
    background-color: rgba(218, 197, 10, 0.562)
}
.hero_menu{
    background-color: rgb(110, 90, 90);
    justify-content: right;
    font-size: 1.4rem;
    gap: 1rem;
    letter-spacing: 5px;
    display: flex;
    padding: 20px;
    flex-direction: row;
}
.grid-father{
    display: grid;
    background-color: rgb(110, 62, 62);
    grid-template-columns: 70% 30%;
}
.grid_son{
    background-color: rgb(77, 60, 60);
    text-align: center;
    color: rgb(61, 53, 53);
    border: 5px solid rgb(66, 64, 64);
    justify-content: auto;
}
.grid_son2{
    background-color: rgb(167, 98, 98);
    text-align: auto;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(51, 41, 41);
    justify-content: auto;

}
.footer-content{
    background-color: rgba(218, 197, 10, 0.562);
    height: 5vh; 
    font-family: 'Lobster Two', cursive;
    font-size: 1.4rem;
    letter-spacing: 5px;
}
.hero_content{
    font-family: 'Figtree', sans-serif;
    background-image: url("../img/picbanda.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
}
.socials{
    background-color: #6e5a5a;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
    letter-spacing: 5px;
    display: flex;
    padding: 20px;
    flex-direction: row;
}
.nav-link{
    transform: 1s;
}
.nav-link:hover{
    transform: scale(1.1);
}
.nav-link1{
    transform: 1s;
    background-color: pink;
}
.nav-link2{
    transform: 1s;
    background-color: blue;
}
.nav-link3{
    transform: 1s;
    background-color: #5e5eee;
}
.nav-link4{
    transform: 1s;
    background-color: grey;
}