$mainColor: #6e5a5a;
$secundaryColor: #000000;

%linksocials{
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
    &:hover {
    background-color: #464646;
    }
}  

$redes:(
    facebook: #8ca810,
    instagram:#8ba711,
    twitter: #a0c011,
    Pagina-oficial: #a2c214,
)